{% load static %}
<style>
    .logo {
        text-align: center;
        font-size: 30px;
        line-height: 1;
    }
    .logo span{
        color: #bdbfc1;
        font-size: 16px;
        display: inherit;
    }
</style>
<div class="container-fluid bg-dark text-white-50 close-header  ">
    <div class="container p-0">
        <div class="row align-items-center ">
            <div class="col-md-9 text-center text-md-start ">
                <div class="row">
                    {% for i in menu %}
                    {% if i.id != 15 %}
                    <div class="col-md-3 side-line">
                        <p class="mb-0"><i class="{{i.icon}} me-3"></i>{{i.name}}</p>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-3 text-center text-md-end">
                <div class="d-flex ">
                    {% for i in icon %}
                    <a class="btn-outline-light btn-social me-2" href="{{i.app_link}}"><i class="{{i.icon}}"></i></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid nav-bar bg-transparent">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
        {% for i in logos %}
        <a href="/" class="navbar-brand d-flex align-items-center text-center">
            <div class="icon p-2 me-2">
                <img class="img-fluid" src="/media/{{i.image}}" alt="Icon" style="width: 30px; height: 30px;">
            </div>
            <h1 class="m-0 text-primary logo">{{i.name}}<br><span>{{i.icon}}</span></h1>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% endfor %}
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto">
                {% for i in header %}
                {% if not i.get_sub_menus.count > 0 %}

                <a href="/{{i.app_link}}" class="nav-item nav-link {% if request.resolver_match.url_name == i.slug %}active{% endif%}">{{i.name}}</a>
                {% comment %} <a href="about.html" class="nav-item nav-link">About</a> {% endcomment %}
                {% else %}
                <div class="nav-item dropdown">
                    <a href="/{{i.app_link}}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{{i.name}}</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        {% for submenus in i.get_sub_menus %}

                            <a href="/{{i.app_link}}" class="dropdown-item">{{i.name}}</a>
                            {% comment %} <a href="property-type.html" class="dropdown-item">Property Type</a>
                        <a href="property-agent.html" class="dropdown-item">Property Agent</a> {% endcomment %}
                        {% endfor %}
                    </div>
                </div>
                {% comment %} <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                        <a href="404.html" class="dropdown-item">404 Error</a>
                    </div>
                </div>
                <a href="contact.html" class="nav-item nav-link">Contact</a> {% endcomment %}
                {% endif %}
                {% endfor %}
            </div>
            {% comment %} <a href="" class="btn btn-primary px-3 d-none d-lg-flex">Add Property</a> {% endcomment %}
        </div>
    </nav>
</div>