{% extends 'base.html' %}
{% load static %}
{% block contents %}

<div class="container-fluid header bg-white p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
        {% for i in section_one %}
        <div class="col-md-6 p-5 mt-lg-5">
            <div>
                <h1 class="display-5 animated fadeIn mb-4 " id="targetElement">{{i.name}}</h1>
                <p class="animated fadeIn mb-4 pb-2">{{i.paragraph}}</p>
                <a href="{{i.btn_link}}" class="btn btn-primary py-3 px-5 me-3 animated fadeIn">{{i.button}}</a>
            </div>
            <div class="get-quote">
            <div>
                <div class="card shadow-lg mt-5" >
                    <div class="card-body p-5">
                        <h5 class="card-title text-center mb-4"><span style="color:#00afef">Get A Quote</span> <br>To Start Your Project</h5>
                        <form class="row g-3 needs-validation" method="post" novalidate>
                            {% csrf_token %}


                            <div>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" pattern="[a-zA-Z ]+" required>
                                <div class="invalid-feedback">
                                    Please provide a valid name.
                                </div>
                            </div>
                            <div class="">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" required>
                                <div class="invalid-feedback">
                                    Please provide a valid email.
                                    </div>
                            </div>
                            <div class="">
                                <input type="text" class="form-control" id="phone" name="phone" placeholder="Your Mobile No" pattern="[0-9]{10}" required>
                                <div class="invalid-feedback">
                                    Please provide a valid mobile no.
                                </div>
                            </div>
                            <div class="">
                                <button class="btn btn-primary w-100 " type="submit">Proceed</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-md-6 animated fadeIn">
            <div class="owl-carousel header-carousel">
                {% for i in section_image %}
                <div class="owl-carousel-item">
                    <img class="img-fluid" src="/media/{{i.image}}" alt="">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- Search Start -->
  <div class="container-fluid bg-primary mb-md-5 mb-2 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
    <div class="container">
        <div class="row g-2">
            <div class="col-md-12">
                <div class="row g-2">
                    {% for i  in increments %}
                    <div class="col-md-4">
                        <div class="counter-container">
                            <div class=" icrement-icon">
                                <i class="{{i.icon}}"></i>
                            </div>
                            <div class="counter" data-target="{{i.count}}"></div>
                            <div class="elementor-counter-title">{{i.name}}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
           
        </div>
    </div>
</div>


 <!-- Category Start -->

<!-- Category End -->

  <!-- About Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5 align-items-center">
        {% for i in about_paragraph %}

        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
          <div class="about-img position-relative overflow-hidden p-5 pe-0">
            <img class="img-fluid w-100" src="/media/{{i.image}}" />
          </div>
        </div>
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
          <h1 class="mb-4">{{i.name}}</h1>
          <p class="mb-4">{{i.paragraph}}</p>
          {% comment %} <p>
            <i class="fa fa-check text-primary me-3"></i>Tempor erat elitr rebum at clita
          </p>
          <p>
            <i class="fa fa-check text-primary me-3"></i>Aliqu diam amet diam et eos
          </p>
          <p>
            <i class="fa fa-check text-primary me-3"></i>Clita duo justo magna dolore erat amet
          </p> {% endcomment %}
          <a class="btn btn-primary py-3 px-5 mt-3" href="/{{i.btn_link}}">{{i.button}}</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="container-xxl py-5">
    <div class="container">
      <div class="text-center mx-auto mb-md-5 mb-2 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
        {% for i in agent_phs %}
        <h1 class="mb-3">{{i.name}}</h1>
        <p>{{i.paragraph}}</p>
        {% endfor %}
      </div>
      
      <div class="row g-4">
        {% for i in deliver_projects %}
        <div class="col-md-4  wow fadeInUp" data-wow-delay="0.1s">
          <div class="flipper-container">
            <div class="flip">
              <div class="front face text-center">
                <img src="/media/{{i.image}}" height="300px">
                {% comment %} <div class="text-img">
                  <h2>{{i.name}}</h2>
                  <div class="bdr"></div>
                </div> {% endcomment %}
              </div>
              <div class="back face">
                <h3>{{i.name}}</h3>
                <p>{{i.paragraph}}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

<!-- Property List Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-7 col-md-6">
                {% for i in project_headings %}
                <div class="text-start mx-auto mb-md-5 mb-2 wow slideInLeft" data-wow-delay="0.1s">
                    <h1 class="mb-3">{{i.name}}</h1>
                    <p>{{i.paragraph}}</p>
                </div>
                {% endfor %}
            </div>
            <div class="col-lg-5 col-md-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                <ul class="nav nav-pills d-inline-flex justify-content-end mb-md-5 mb-2">
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary {% if not status or status|slugify == '1' %} active{% endif%}" data-bs-toggle="pill" href="/home/?status=1" >ALL PROJECTS</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary {% if status|slugify == '2' %} active {% endif%}" data-bs-toggle="pill" href="/home/?status=2">COMPLETED</a>
                    </li>
                    <li class="nav-item me-0">
                        <a class="btn btn-outline-primary {% if status|slugify == '3' %} active {% endif%}" data-bs-toggle="pill" href="/home/?status=3">ONGOING</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    {% for i in projects %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="/media/{{i.image}}" alt=""></a>
                                <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For {{i.constructions_name}}</div>
                                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">{{i.constructions_name}}</div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">{{i.price_of_constructions}}</h5>
                                <a class="d-block h5 mb-2" href="">{{i.name}}</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>{{i.address}}</p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>{{i.sqft}} Sqft</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>{{i.bed}} Bed</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>{{i.bath}} Bath</small>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                    <div class="col-12 text-center">
                        <a class="btn btn-primary py-3 px-5" href="/project/?status={{status}}">Browse More Projects</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-md-5 mb-2 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            {% for i in why_choose_ph %}
            <h1 class="mb-3">{{i.name}}</h1>
            <p>{{i.paragraph}}</p>
            {% endfor %}
        </div>
        <div class="row g-4">

            {% for i in why_choose %}
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <a class="cat-item d-block bg-light text-center rounded p-3 mx-4" href="#">
                    <div class="rounded p-4 ">
                        <div class="icon-2 mb-4">
                            <i class="{{i.icon}}"></i>
                        </div>
                        <h6>{{i.name}}</h6>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div> 

<!-- Property List End -->

{% comment %} 
<!-- Call to Action Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="bg-light rounded p-3">
            <div class="bg-white rounded p-4" style="border: 1px dashed rgba(204, 239, 252, 1)">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <img class="img-fluid rounded w-100" src="{% static 'images/call-to-action.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <div class="mb-4">
                            <h1 class="mb-3">Contact With Our Certified Agent</h1>
                            <p>Eirmod sed ipsum dolor sit rebum magna erat. Tempor lorem kasd vero ipsum sit sit diam justo sed vero dolor duo.</p>
                        </div>
                        <a href="" class="btn btn-primary py-3 px-4 me-2"><i class="fa fa-phone-alt me-2"></i>Make A Call</a>
                        <a href="" class="btn btn-dark py-3 px-4"><i class="fa fa-calendar-alt me-2"></i>Get Appoinment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}
<!-- Call to Action End -->


<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-md-5 mb-2 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            {% for i in agents %}
            <h1 class="mb-3">{{i.name}}</h1>
            <p>{{i.paragraph}}</p>
            {% endfor %}
        </div>
        <div class="row g-4">
            {% for i in property_agents %}
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item rounded overflow-hidden">
                    <div class="position-relative">
                        <img class="img-fluid" src="/media/{{i.image}}" alt="">
                        <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                            <a class="btn btn-square mx-1" href="{{i.link_1}}"><i class="{{i.icon_1}}"></i></a>
                            <a class="btn btn-square mx-1" href="{{i.link_1}}"><i class="{{i.icon_2}}"></i></a>
                            <a class="btn btn-square mx-1" href="{{i.link_1}}"><i class="{{i.icon_3}}"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4 mt-3">
                        <h5 class="fw-bold mb-0">{{i.name}}</h5>
                        <small>{{i.designation}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Team End --> 
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-md-5 mb-2 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            {% for i in video_paragraph %}
            <h1 class="mb-3">{{i.name}}</h1>
            <p>{{i.paragraph}}</p>
            {% endfor %}
        </div>
        {% for i in category %}
        <iframe width="100%" height="550px"
        src="{{i.video}}">
        </iframe>
        {% endfor %}
    </div>
</div>
<!-- Testimonial Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-md-5 mb-2 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            {% for i in clients %}
            {% if i.id == 41 %}

            <h1 class="mb-3">{{i.name}}</h1>
            <p>{{i.paragraph}}</p>
            {% endif %}
            {% endfor %}
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            {% for i in clients %}
            {% if i.id != 41 %}
            <div class="testimonial-item bg-light rounded p-3">
                <div class="bg-white border rounded p-4">
                    <p>{{i.paragraph}}</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="/media/{{i.image}}" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">{{i.name}}</h6>
                            <small>{{i.button}}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            
           
        </div>
    </div>
</div>
<script>
const counters = document.querySelectorAll(".counter");

counters.forEach((counter) => {
    counter.innerText = "0";
    const updateCounter = () => {
        const target = +counter.getAttribute("data-target");
        const current = +counter.innerText;
        const increment = target / 3000; // Adjust speed

        if (current < target) {
            let formatted = convertToIndianFormat(Math.ceil(current + increment));
            counter.innerText = formatted
            setTimeout(updateCounter, 100);
        } else {
            let formatted = convertToIndianFormat(target);
            match = formatted.split(" ")
            counter.innerText = match[0];
            counter.nextElementSibling.innerText = target < 9999 ? " "+counter.nextElementSibling.innerText : (match[1] || "") + " "+counter.nextElementSibling.innerText;

        }
    };

    updateCounter();
});


// Function to convert number to Indian format
function convertToIndianFormat(num) {
    if (num >= 10000000) return (num / 10000000).toFixed(1) + " Crores";
    if (num >= 1000000) return (num / 1000000).toFixed(1) + " Millions";
    if (num >= 100000) return (num / 100000).toFixed(1) + " Lakhs";
    if (num >= 1000) return Math.floor(num / 100) * 100 + "+";
    if (num >= 100) return Math.floor(num / 10) * 10 + "+";
    if (num >= 10) return Math.floor(num / 10) * 10 + "+";
    return num.toString();
}    
</script>
<script>

document.addEventListener("DOMContentLoaded", function () {
        let element = document.querySelector("#targetElement"); // Replace with your actual element ID or selector
    
        if (element) {
            element.innerHTML = element.innerHTML.replace(
                /Perfect Home/g,
                '<span class="text-primary">Perfect Home</span>'
            );
        }
  
        let navLinks = document.querySelectorAll(".btn.btn-outline-primary");
    
        navLinks.forEach((link) => {
            link.addEventListener("click", function (event) {
                event.preventDefault(); // Prevent default navigation
                let targetUrl = this.getAttribute("href"); // Get href attribute
                window.location.href = targetUrl; // Reload window to href
            });
        });
    });
</script>
{% endblock %}
